  <form class="form m-5 d-flex flex-column" (ngSubmit)="signin()" [formGroup]="form">
    <input type="text" class="form-control" placeholder="Email" formControlName="email">
    <input-error [input]="email"></input-error> 
    <br>
    <input type="password" class="form-control" placeholder="Password" formControlName="password">
    <input-error [input]="password"></input-error>
    <br>
    <button class="btn btn-primary" 
        [disabled]="password?.invalid || email?.invalid" 
        type="submit"
    >Login</button>
    <br>
    <div class="d-flex justify-content-center">
        New User?&nbsp;<a routerLink="/signup">Create Account</a>
    </div>
  </form> 

