<div *ngIf="product" class="m-3 d-flex justify-content-end">
  <div *ngIf="authService.currentUser.role=='admin'">
    <a [routerLink]="['/edit/product', product.id]" class="btn btn-primary bi bi-pencil-square"></a>
  </div>
</div>

<div class="m-5 text-center" *ngIf="product">
  <div height="200px" width="200px" class="">
    <img [src]="product.image" height=200px alt="ear buds">
  </div>
  <div> <h2>{{product.name}} &nbsp; {{"(₹ " + product.price.toLocaleString() + ")"}}</h2> </div>
  <div> {{product.description}}</div>
  <br>
  <div class="btn btn-outline-primary rounded-5" (click)="addProductToCard(product.id)">Add to Cart</div>
</div>



